*                       @lars-reimann

# Documentation
/docs/                  @Safe-DS/Library
/mkdocs.yml             @Safe-DS/Library

# Code
/src/                   @lars-reimann @Gerhardsa0 @Marsmaennchen221 @sibre28
/tests/                 @lars-reimann @Gerhardsa0 @Marsmaennchen221 @sibre28
