*                       @lars-reimann

# Documentation
/docs/                  @Safe-DS/Library
/mkdocs.yml             @Safe-DS/Library

# Code
/src/                   @Safe-DS/Library
/tests/                 @Safe-DS/Library
