# Eclipse (also used by Gradle support in VS Code)
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml

# VSCode Settings
.vscode/

# Compilation/build outputs
build/
dist/
out/

# Gradle
.gradle/

# Node
.npm/
node_modules/
.node_repl_history
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Python binaries
*.egg-info/
__pycache__/
*.pyc

# Python environment
venv/

# Pytest outputs
.pytest_cache/
htmlcov/
.coverage

# MegaLinter
report/
megalinter-reports/

# Other
.DS_Store/
*.log
