name: Add Issues to Library Project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.6.0
        with:
          project-url: https://github.com/orgs/Safe-DS/projects/2
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
