name: MegaLinter

on:
  pull_request:
    branches: [main]

jobs:
  megalinter:
    uses: lars-reimann/.github/.github/workflows/megalinter-reusable.yml@main
    secrets:
      PAT: ${{ secrets.PAT }}
